#dashboard-wrap{overflow: hidden; padding: 0 30px; height: calc(100vh - 160px)}
#dashboard .dashboard-icon-wrap{display: flex; justify-content: space-between}
#dashboard .dashboard-icon-wrap > div{display: inline-block; text-align: center; width: calc(11.111% - 10px); border: 1px solid #c1c1c1; border-radius: 10px; height: 130px; vertical-align: middle; padding-top:25px}
#dashboard .dashboard-icon-wrap a{width: 100%; height: 100%; display: inline-block}
#dashboard .dashboard-icon-wrap a > p{color:#363636; margin-top:10px}
#dashboard .dashboard-icon-wrap > div:hover {background-color: #eb8627; transition: 0.2s; }
#dashboard .dashboard-icon-wrap > div:hover p{color:#ffffff}
#dashboard .dashboard-icon-wrap a > img{}
#dashboard .dashboard-icon-wrap a > p{font-size: 16px; line-height: 24px; letter-spacing: 0; opacity: 1; font-weight: normal}
#dashboard .title-wrap h2{font-size: 17px; letter-spacing: 0; color:#555555; opacity: 1; font-weight: bold; text-align: left; line-height: 25px; display: inline-block; float: left}
#dashboard .title-wrap .more-button{display: inline-block; background-color: #000000; width: 93px; height: 31px;text-align: center; font-size: 14px; line-height: 31px; letter-spacing: 0; float: right}
#dashboard .title-wrap .more-button a{width: 100%; height: 100%; display: inline-block; color:#ffffff; font-weight: normal}
#dashboard .title-wrap{overflow: hidden; margin: 30px 0 20px 0}
#dashboard .dashboard-board{width: calc(50% - 30px)}
#dashboard .dashboard-board-wrap{display: flex; justify-content: space-between;}
#dashboard .board-question table tr td:nth-child(1){text-align: center; width: 10%}
#dashboard .board-question table tr td:nth-child(2){text-align: center; width: 15%}
#dashboard .board-question table tr td:nth-child(3){}
#dashboard .board-question table tr td:nth-child(4){text-align: center; width: 25%}
#dashboard .board-data table tr td:nth-child(1){text-align: center; width: 10%}
#dashboard .board-data table tr td:nth-child(2){}
#dashboard .board-data table tr td:nth-child(3){text-align: center; width: 25%}
#dashboard table tr{border-top: 1px solid #b7b7b7; border-bottom: 1px solid #b7b7b7}
#dashboard table td{font-size: 15px; line-height: 50px; font-weight: normal; letter-spacing: 0; color:#555555}
